/* Estilo do corpo da página */
body {
    background-image: url('../img/imgFundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* Estilo da caixa de conteúdo */
.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Estilo do botão de Dark Mode */
#toggleDarkMode {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    background-color: #333;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    transition: transform 0.2s ease-in-out;
}

#toggleDarkMode:hover {
    background-color: #555;
    transform: scale(1.05);
}

/* Estilo do modo escuro */
.dark-mode {
    background-color: #121212;
    color: white;
    background-image: url('../img/imgFundoDark.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dark-mode .container {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.dark-mode #taskInput,
.dark-mode .task-item {
    background-color: #333;
    color: white;
    border: 1px solid #555;
}

.dark-mode #addTaskBtn {
    background-color: #007bff;
}

.dark-mode #addTaskBtn:hover {
    background-color: #0056b3;
}

.dark-mode .delete-btn {
    background-color: #ff4d4d;
}

.dark-mode .delete-btn:hover {
    background-color: #cc0000;
}

/* Estilo de prioridade */
.low {
    background-color: #d4edda;
    border-left: 5px solid #28a745;
}

.medium {
    background-color: #fff3cd;
    border-left: 5px solid #ffc107;
}

.high {
    background-color: #f8d7da;
    border-left: 5px solid #dc3545;
}
